<template>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700;800&family=Work+Sans&display=swap" rel="stylesheet">
  <router-view></router-view>
</template>

<script>
</script>

<style>
</style>

